<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s.d.a.a.conceitodashboard_v2_com_fragmentos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.s.d.a.a.conceitodashboard_v2_com_fragmentos.AplicacaoDashboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/temapadrao">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListaCarrosActivity"></activity>
        <activity android:name=".activities.InformacoesCarrosActivity" />
        <activity android:name=".activities.SobreActivity"></activity>
        <activity android:name=".activities.ConceitoDashboardActivity" />
        <activity android:name=".activities.v11.ListaCarrosTabletActivity" />
    </application>

</manifest>